/*@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500&family=JetBrains+Mono:wght@300;400&display=swap');*/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  font-family: Helvetica, sans-serif;
}

#tree {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  height: 100%;
  overflow: auto;
}

.hidden {
  opacity: 0.25;
}

#left {
  position: absolute;
  height: 100%;
  width: 25%;
  top: 0;
  left: 0;
  border-right: 1px solid #ccc;
  background-color: #dedede;
}

#left-upper {
  box-sizing: border-box;
  height: 40%;
  width: 100%;
  padding: 8px;
  position: relative;
}

#left-upper-top > * {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-bottom: 5px;
}

#file-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.button {
  background-color: #34f;
  display: block;
  height: 40px;
  color: white;
  border-radius : 4px;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
}

#file-input-label {
  width: 100px;
  position: relative;
}

#options {
  position: relative;
  margin-top: 20px;
  z-index: 50;
}

#file-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: #000000cc;
}

#file-overlay-inner {
  border-radius: 20px;
  border: 6px dashed #ffffff77;
  width: 95%;
  height: 95%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#file-overlay-text {
  width: 100%;
  height: auto;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% - 40px));
  font-family: Helvetica, sans-serif;
  color: #ffffff77;
  user-select: none;
}

#export-zip {
  position: absolute;
  bottom: 8px;
}

#left-lower {
  position: absolute;
  left: 0;
  top: 40%;
  border-top: 1px solid #ccc;
  padding: 8px;
  height: 60%;
  box-sizing: border-box;
  width: 100%;
}

.heading {
  width: 100%;
}

#info {
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 50px);
}

#donation {
  position: relative;
  bottom: 0;
}

#center {
  position: relative;
  height: 100%;
  width: 41%;
  top: 0;
  left: 25%;
  margin: 0;
}

#no-tree {
  height: auto;
  top: 20%;
}

#filter {
  width: 100%;
  height: 40px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#filter-input {
  width: 100%;
  height: 100%;
  border: none;
  box-sizing: border-box;
  padding-left: 8px;
  font-family: "JetBrains Mono", monospace;
  transition: background-color 250ms;
}

#filter-input.invalid {
  background-color: #ff0000aa;
}

#filter-suggest {
  padding-left: 8px;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  position: relative;
}

.suggest-item {
  font-family: "JetBrains Mono", monospace;
}

#right {
  position: absolute;
  height: 100% !important;
  width: 34%;  /* needs to be even to render correctly */
  top: 0;
  right: 0;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #dedede;
}

.ad {
  width: 100%;
  height: auto;
  display: block;
  border: none;
  outline: none;
}

#darken {
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
  display: none;
}

#modal {
  z-index: 10001;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  width: 25%;
  height: auto;
  position: absolute;
  padding: 8px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  font-family: 'JetBrains Mono', monospace;
}

.modal-title {

}

.progress-bar {
  width: 100%;
  box-sizing: border-box;
  height: 8px;
}

.progress-bar-inner {
  width: 100%;
  background-color: #34f;
  height: 100%;
}

.modal-subtitle {
  margin-top: 8px;
}

.modal-external-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.modal-external-input-button {
  width: 50%;
  position: relative;
  display: inline-block;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #34f;
  border-radius: 4px;
  transform: translateX(-50%);
  left: 50%;
}

#preview {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1/1;
  border: 3px dashed #aaa;
  box-sizing: border-box;
  background-color: #fff;
  outline: 1px solid #ddd;
}

.no-preview {
  user-select: none;
  font-family: Helvetica, sans-serif;
  color: #aaa;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  top: 10%;
}

.preview-button {
  display: inline-block;
  margin: 4px;
  cursor: pointer;
}

.debug-button {
  background-color: #6b3d91;
  opacity: 70%;
}

/* Tree text styling */
.tree-label {
  /* generic styles */
}

.label-bundle {
  color: #c22ac2;
}

.label-asset {
  color: #8d8d15;
}

.label-typetree {
  color: #13ad98;
}

.label-typereader {
  color: #571e8e;
}

.label-resource {
  color: #5628cb;
}

.label-objecttype {
  color: #c29640;
}

.label-objectname {
  color: #7a3434;
}

.label-objectid {
  color: #707070;
}

.label-generic {
  color: #4b4b4b;
}

/* ------ */

.tree-value {
  /* generic styles */
  font-family: 'JetBrains Mono', monospace;
}

.value-generic {
  color: #595959;
}

.value-numeric {
  color: #4474a1;
}

.value-string {
  color: #2e8021;
}

.value-bool {
  color: #de6811;
}

.value-object {
  color: #c935e5;
}

.value-undefined {
  color: #8a8a8a;
}

/* ------ */

.external-input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 30%;
  top: 0;
}

.external-input-button {
  border: none;
  font-size: 16px;
  background-color: #34f;
  border-radius: 4px;
  padding: 8px;
  color: white;
  cursor: pointer;
  font-weight: normal;
}

.dock-widget {

}
