[submodule "thirdparty/mojoshader"]
	path = thirdparty/mojoshader
	url = https://github.com/ashduino101/mojoshader
[submodule "thirdparty/bytes"]
	path = thirdparty/bytes
	url = https://github.com/ashduino101/bytes
